### Sublime Text project/workspace files
*.sublime*

### Ignore the testing, data, example, and documentation directories
testing/*
R/data/*
ex/*
doc/*

### Ignore files associated with shinyapps.io
rsconnect

### Rd2pdf temporary files
.Rd2pdf*

### Temporary LibreOffice Calc Files
.~lock.*
