### Sublime Text project/workspace files
*.sublime*

### Ignore the testing/ directory
testing/*

### Ignore files associated with shinyapps.io
rsconnect

### Temporary LibreOffice Calc Files
.~lock.*
