/* My CSS configuration */
.my-center {
	text-align: center;
}

.radio-inline {
	width: auto;
	vertical-align: super;
}

.my-btn {
	padding: 5px;
	vertical-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.my-selection {
	padding: 0px;
}

.my-checkbox {
	margin-top: 0px;
	margin-bottom: 2px;
}

#clear_selected {
	padding: 5px;
	vertical-align: center;
	margin-top: 5px;
}

/* Controls the properties for almost all Shiny widgets */
.form-group {
	margin-bottom: 0px;
}

/* Controls the file input widget */
.progress{
	margin-bottom: 8px;
}

/* This works on the header (not column names) and footer */
div.dataTables_wrapper {
	width: 100%;
	margin: 0 auto;
	/*margin-top: 25px;*/
	/*height: 450px;*/
	/*height: 400px;*/
	/*overflow-y: scroll;
	overflow-x: scroll;*/
	/*border: 2px solid #BCE8F1;
	border-radius:5px;*/
	/*dom: '<"wrapper"flipt>';*/
}

/*div {
	margin: auto;
	border: 1px solid black;
}*/